a,h1, h2, .btn, .nav{
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
body{
  font-family: 'Nunito', sans-serif;
  height: 100%;
}
footer{
  overflow: auto;
}
footer a{
  color: #b5488b;
  font-weight: bolder;
  letter-spacing: normal;
  text-transform: none;
}
footer a:hover{
  color: #7f3366;
  text-decoration: none;
}
footer p{
  margin-bottom: 0;
  text-align: left;
}
footer #call-to-action, footer .corfo, footer .requisitos-text{
  margin-bottom: 37px;
}
footer .corfo{
  display: block;
  width: 150px;
}
footer .footer-logo{
  width: 180px;
  display:block;
  margin: 0 auto 50px;
}
h2{
  color: #dd2475;
  font-size: 27px;
  letter-spacing: 1.1px;
  margin: 37px auto 20px;
}
h2, h3,p{
  text-align: center;
}
h3, strong{
  color:#665f62;
}
p{
  color: #9a8f93;
  font-weight: lighter;
  font-size: 16px;
}
section{
  border-bottom: solid 1px #b9b6b7;
}
section, footer, .jumbotron .filtro-violeta{
  padding-bottom: 75px;
  padding-top: 43px;
}
strong{
  display: block;
  font-size: 18px;
  font-weight: lighter;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
button[type="submit"]:focus,
button[type="submit"]:hover,
.form-control:focus,
.uneditable-input:focus {   
  border-color: #f7cdc1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #f27441;
  outline: 0 none;
}
.main-pic{
  background-color: #ca72a2;
  background-size: 800px;
  height: 470px;
  margin-top: 0;
  transition: width 2s;
  -webkit-transition: width 2s;
}
.parallax-container{
  overflow: hidden;
}
.normal-pic {
  background-image: url("../img/main-pic-01.jpg");
}
.blurred-pic{
  background-image: url("../img/main-pic-blurred.jpg");
  transition: background-image .2s;
  -webkit-transition: background-image .2s;
}
#call-to-action p{
  text-align: left;
}
#intro, .jumbotron{
  padding: 0;
}
#intro .slogan{
  margin-top: 0;
  padding: 0px 0 120px;
  text-align: center;
}
#step-1, #step-2, #step-3{
  display: block;
  margin: 0 auto 0;
  width: 75%;
}
.bajada{
  font-size: 21px;
  margin: 0 auto 0;
  max-width: 800px;
}
.btn{
  background-color: transparent;
  border-color: white;
  border-radius: 0;
  padding: 9px 15px;
  margin-top: 7px;
  width: 100%;
}
.centered-col{
  float: none;
  margin:0 auto 18px;
}
.clearfix .column, .form-horizontal{
  margin-top: 60px;
}
.clearfix .no-margin{
  margin: 0px;
}
.filtro-violeta{
  background-image: url("../img/filtro-violeta-01.png");
  background-size: cover;
  color: white;
  height: 470px;
  width: 100%;
}
.filtro-violeta p, .filtro-violeta h2, .btn:hover{
  color: white;
}
.form-control{
  background-color: transparent;
  border-color: white;
  border-radius: 0;
  color: white;
  font-weight: lighter;
}
.form-control::-webkit-input-placeholder { 
  color: white; 
  font-weight: lighter;
}
.form-control:-moz-placeholder { 
  color: white; 
  font-weight: lighter;
}
.form-control::-moz-placeholder { 
  color: white; 
  font-weight: lighter;
}
.form-control:-ms-input-placeholder { 
  color: white; 
  font-weight: lighter;
}
.form-horizontal .form-group{
  margin: 0;
}
.intro-container{
  overflow: hidden;
}
.jumbotron{
  background-image:url("../img/fondo-contacto-01.jpg");
  background-position: center;
  background-size: cover;
}
.jumbotron .filtro-violeta{
  height: auto;
}
.loquito{
  border-radius: 50%;
  width: 100%;
}
.porquelibeat img{
  width: 80px;
  display: block;
  margin: 0 auto 0;
}
.porquelibeat p{
  margin-top: 25px;
}
.nav a{
  color: white;
  font-weight: lighter;
  font-size: 12px:;
}
.nav a, .navbar-toggle, .stores{
  opacity: .75;
  -webkit-transition: opacity .2s; /* Safari */
  transition: opacity .2s;
}
.nav img{
  margin: 33px auto 20px;
}
.nav>li>a:hover, .nav>li>a:focus, .navbar-toggle:target, .stores:hover{
  background-color: transparent; 
  opacity: 1;
}
.nav p{
 font-size: 10px;
}
.nav .libeat-nav{
  width: 100px;
}
.nav .llamada-icon{
  width: 22px;
}
.nav .trazo{
  background-image: url("../img/trazo-01.png");
  background-position:center;;
  background-repeat: no-repeat;
  height: 5px;
  margin-bottom:18px;
  opacity: .7;
  width: 100%;
}
.navbar-collapse.in{
  position: absolute;
  z-index: 100;
  text-align: center !important;
  width: 100%;
}
.navbar-nav{
  margin-top: 0;
}
.navbar-toggle{
  background-image: url("../img/toggle-01.png");
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  -webkit-transition: background-image .2s; /* Safari */
  transition: background-image .2s;
}
.navbar-toggle-active{
  background-image: url("../img/toggle-active-01.png");
   background-size: 30px;
}
.no-dropdown-transition{
  -webkit-transition: height 0;
  -moz-transition: height 0;
  -ms-transition: height 0;
  -o-transition: height 0;
  transition: height 0;
}
.queslibeat-mobile-image{
  display: block;
  margin: 40px auto 0;
  position: relative;
  width: 270px;
}
.queslibeat-mobile-image .beat{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px;
  height: 50px;
  left: 106px;
  position: absolute;
  top: 139px;
  width: 50px;
}
.slogan figure{
  width: 208px;
  margin: 0 auto 0;
  padding-top: 90px;
}
.slogan img{
  width: 75%;
}
.slogan p{
  margin-top:10px;
  font-weight: lighter;
}
.stores{
  width: 130px;
  background-blend-mode: lighten;
  -webkit-background-blend-mode: lighten;
}
.v-hidden{
  visibility: hidden;
}
/*animation libeat*/
.animated { 
    -webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInUp { 
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
}
/*animation beat que es libeat*/
.animated-1 { 
    -webkit-animation-duration: 6s; 
    animation-duration: 6s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes fadeInUp-1 { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    16% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
        background-image: url("../img/beat-1.png");
    } 
    32% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    48% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
        background-image: url("../img/beat-2.png");
    }
    64% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    80% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
        background-image: url("../img/beat-3.png");
    }
    100%{
      opacity: 0; 
      -webkit-transform: translateY(20px);
    }
} 

@keyframes fadeInUp-1 { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    16% { 
        opacity: 1; 
        transform: translateY(0); 
        background-image: url("../img/beat-1.png");
    } 
    32% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    48% { 
        opacity: 1; 
        transform: translateY(0); 
        background-image: url("../img/beat-2.png");
    }
    64% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    80% { 
        opacity: 1; 
        transform: translateY(0); 
        background-image: url("../img/beat-3.png");
    }
    100%{
      opacity: 0; 
      transform: translateY(20px);
    }
} 
/* animación checkmarks*/

@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.1); } 
    100% { -webkit-transform: scale(1); } 
} 
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.1); } 
    100% { transform: scale(1); } 
} 
.pulse:hover { 
    -webkit-animation-name: pulse; 
    animation-name: pulse; 
}

.fadeInUp-1 { 
    -webkit-animation-name: fadeInUp-1; 
    animation-name: fadeInUp-1; 
}
/*animación steps*/
@-webkit-keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(40px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(-30px); 
    } 
    80% { 
        -webkit-transform: translateY(10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(40px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(-30px); 
    } 
    80% { 
        transform: translateY(10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 

.bounceInUp { 
    -webkit-animation-name: bounceInUp; 
    animation-name: bounceInUp; 
}

/*media queries*/
@media (min-width: 768px){
  #intro .filtro-violeta{
    background-size: cover;
    height: 620px;
  }
  #intro .slogan{
    padding: 0px 0 160px;
  }
  .main-pic{
  height: 620px;
  background-position: center 30%;
  background-size: cover;
  }
  .navbar-nav>li>a{
    padding-top: 30px;
  }
  .slogan figure{
    width: 278px;
    padding-top: 160px;
  }
  .stores{
    width: 190px;
    background-blend-mode: lighten;
    -webkit-background-blend-mode: lighten;
  }
}